.pokemon-link {
  display: block;
  text-decoration: none;
}

.pokemon-link:nth-child(2n) {
  background-color: #f6f6f6;
}

.load-more-btn {
  padding: 1rem 0.5rem;
  background-color: #48f;
  margin: 2rem auto;
  border: 0;
  cursor: pointer;
  color: #fff;
  display: block;
}
